<div class="col-12">
    <div class="row">
        {{ form_start(orderForm) }}

        {{ form_widget(orderForm) }}

        <button type="submit" class="btn btn-primary" formnovalidate> {{ btnText }} </button>
        {{ form_end(orderForm) }}
    </div>
</div>